<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <h1>Delete a Family Member</h1>
  <form action="/remove" method="post">
    <p>What's the name of the member you want to remove?</p>
    <input type="text" name="name">

   
    <div class="spacer"></div>
    <button type="submit">Delete</button>
  </form>
</body>

</html>